@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

header, nav, main, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: #1e293b;
    color: #efefef;
}

header {
    top: 0;
}

nav {
    background-color: #efefef;
    color: #333;
    padding: .5rem;
    border-bottom: 2px solid #333;
}

main {
    flex-grow: 1;
}

footer {
    bottom: 0;
}

/* Syntax: 
    @media media type and (condition: breakpoint){
        CSS rules
    }
 */

/* Small*/
 @media screen and (min-width: 576px) {
    body {
        background-color: green;
        background-image: radial-gradient(whitesmoke, green);
    }
    nav {
        display: none;
    }
 }

 /* Medium */
 @media screen and (min-width: 768px) {
    body {
        background-color: gold;
        background-image: radial-gradient(whitesmoke, gold);
    }
 }

  /* Large */
  @media screen and (min-width: 1024px) {
    body {
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke, firebrick);
    }
 }

   /* XL */
   @media screen and (min-width: 1200px) {
    body {
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }
 }


 
 /* Mobile device landscape */
 @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue);
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }
 }

