@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  flex-flow: row nowrap;
  align-content: space-evenly;
} 

.box {
  /* min-width: 100px; */
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-grow: 1; */
  /* flex-basis: 300px;
  flex-shrink: 1; */
  flex: 1 1 150px;
  /* grow shrink basis */
}

.box:nth-child(2) {
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    flex: 2 2 150px;
    order: -1;
}

/* flexbox froggy */