@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Begin reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    display: block;
}
/* End reset */


/* Utility classes */

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

/* End Utility classes */


body {
  background-color: #efefef;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  /* background-image: url('../16_images/img/bubbles.png'), 
                    linear-gradient(to left, steelblue, #efefef);
  background-repeat: repeat-y, no-repeat;
  background-position: right center; */

  background-size: 20%, auto;
  background: repeat-y right center url('../16_images/img/bubbles.png'), no-repeat linear-gradient(to left, steelblue, #efefef);
}

.container {
    background-color: rgba(251, 210, 156, 1);
    background-image: url('../16_images/img/map-2176x1451.png');
    
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.hero {
    border-bottom: 2px solid #333;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(0, 0%, 0%, .5)
}

.h1 {
    font-size: 500%;
    color: #efefef;
    text-shadow: 2px 2px 5px #333;
    /* background-color: hsla(0, 0%, 0%, .3);
    padding: .25rem;
    border-radius: 10px; */
}

.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 100%;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url('../16_images/img/scenic-2200x1331.png');
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    /* color: hsla(0, 0%, 0%, .2); */
    background-clip: text;
    color: transparent;
}
